@using AccountBook.Controllers
@model IEnumerable<AccountBook.Models.ViewModels.RecordOfAccountModel>
@{
    ViewBag.Title = "ChildActHistoryAction";
    Layout = "";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            @{

                if (Model != null)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        string type = "";
                        //這樣用會壞掉
                        //if (item.Type == (int)(HomeController.AccountType.Income))
                        if (item.Type == 0)
                        {
                            type = "收入";
                        }
                        else
                        {
                            type = "支出";
                        }
                        <tr>
                            <th>@i</th>
                            <th>@type</th>
                            <th>@item.Date</th>
                            <th>@item.Description</th>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <th>無歷史紀錄</th>
                    </tr>
                }
            }
        </table>
    </div>
</div>