@using AccountBook.Controllers
@model IEnumerable<AccountBook.Models.ViewModels.RecordOfAccountModel>
@{
    ViewBag.Title = "ChildActHistoryAction";
    Layout = "";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            @{
                if (Model != null)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th>@i</th>
                            <th>@(item.Type == 0 ? "支出" : "收入")</th>
                            <th>@item.Date</th>
                            <th>@item.Money</th>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <th>無歷史紀錄</th>
                    </tr>
                }
            }
        </table>
    </div>
</div>